{% extends "base.html" %}
{% block title %}{{article.art_title}}{% endblock title %}
{% block header %}Для поиска по странице нажмите - <b>crtl + f</b>{% endblock header %}
{% block content%}


    <div class="osn">
        <div class="body">
            {% for p in article %}
            <div class="strana er">
                {% if article.was_published_recently  %}
                    (<h1>Новая новость!!</h1>)
                {% endif %}
                {{p.art_content|safe}}</div>
            {% endfor %}
        </div>
        <div class="footer"></div>
    </div>

{% endblock content %}
