{% extends "newsbase.html" %}
{% block title %}{{article.title}}{% endblock title %}
{% block content%}

<div class="d">
<div class="strana"><h1 class="tt1">{{article.art_title}}</h1></div>
<div class="people-body">
    <div class="img-persone"><img src="{{ MEDIA_URL }}{{ article.image.url }}" alt="{{article.art_title}}" height="300px" width="300px"></div>
    <div class="table">
            <p class="tt2"> <b>Карьера</b> </p>
            {% for a in article_tags %}
                <p class="tt2 m-1">{{a.title}}</p>
            {% endfor %}
            <p class="tt2 m-1">{{article.karera_2}}</p>
            <p class="tt2 m-1">{{article.karera_1}}</p>
            <p class="tt2 m-1">{{article_party}}</p>
            <p class="tt2 m-1">{{article_city}}</p>
    </div>
</div>
    
</div>
<div class="d">
    <div class="strana"><h1 class="tt1">Информация о личности</h1></div>
    <div class="p">
        <p>{{article.art_content|safe}} <em>{{article.pub_date}}</em></p>
    </div> 
</div>
{% endblock content %}