{% extends "base.html" %}
{% block title %}{{article.art_title}}{% endblock title %}
{% block header %}{% endblock header %}
{% block content%}

{% load static %}

    <div class="osn">
        <div class="head">
            <p class="text">Этот сайт - это проект, который призван стать независимой площадкой для развития политической молодежи.
                Если вы хотите добавить на платформу какие либо знания, то прошу писать в ЛС ВК. Создателем проекта является Гольцман Никита Романович.
                Связаться с Никитой - <a href="https://vk.com/polimick " class="titlec">@polimick</a> </p>
        </div>
        <div class="body">
            <div class="strana"> <a href="person/" class="titlec c ">Личности</a></div>
            <!-- <div class="strana"> <a href="parlament.html" class="titlec c ">Парламенты любых уровней</a></div> -->
            <!-- <div class="strana"> <a href="socorg/" class="titlec c">Общественные организации</a></div>
            <div class="strana"> <a href="new/" class="titlec c">Статьи иного характера</a></div> -->
            <div class="strana"> <a href="news/" class="titlec c">Новости портала</a></div>
        </div>
        <div class="footer"></div>
    </div>

{% endblock content %}