{% extends "base.html" %}
{% block title %}{{article.art_title}}{% endblock title %}
{% block content%}

<div class="d">
<div class="strana"><h1 class="tt1">{{article.art_title}}</h1></div>
<div class="people-body">
    <div class="img-persone"><img src="{{ MEDIA_URL }}{{ article.image.url }}" alt="{{article.art_title}}" height="500px" width="500px"></div>
    <div class="table">
            <p class="tt2"> <b>Карьера</b> </p>
            <p class="tt2 m-1">{{article.karera_3}}</p>
            <p class="tt2 m-1">{{article.karera_2}}</p>
            <p class="tt2 m-1">{{article.karera_1}}</p>
            <p class="tt2 m-1">{{article_party}}</p>
            <p class="tt2 m-1">{{article_city}}</p>
    </div>
</div>
    
</div>
<div class="d">
    <div class="strana"><h1 class="tt1">Информация о личности</h1></div>
    <div class="p">
        <p>{{article.art_content|safe}} <em>{{article.pub_date}}</em></p>
    </div> 
</div>
{% endblock content %}



<!-- {% block main %}
    <img src="{{ MEDIA_URL }}{{ article.image.url }}" alt="{{article.art_title}}">
    <h2>{{article.art_title}}</h2>
    <p>{{article.art_content}}</p>
    <em>{{article.pub_date}}</em>
    {% if article.was_published_recently  %}
    Новая статья!!
    {% endif %}
    <hr>
        {% if latest_comments_list %}
            {% for c in latest_comments_list %}
                <p>
                    <strong>{{c.name_user}}</strong>
                    <p>{{c.comment_text}}</p>
                    <a href="{% url 'main:delete_comment' article.id  %}">удалить</a>
                </p>
            {% endfor %}
        {% else %}
            Комментарии не найдены((
        {% endif %}
    <hr>
    {% if user.is_authenticated %}
    <form action="{% url 'main:leave_comment' article.id %}" method="POST">
        {% csrf_token %}
        
        <textarea name="text" required placeholder="Текст комментария" cols="30" rows="10"></textarea><br>
        <button type="submit">Оставить коментарий</button>
    </form>
    {% else %}
    Вы не авторизованы!!!(((
    {% endif %}
{% endblock %} -->
