{% extends "base.html" %}
{% block title %}{{article.art_title}}{% endblock title %}
{% block header %}Для поиска по странице нажмите - <b>crtl + f</b>{% endblock header %}
{% block content%}



                {% if latest_articles_list %}
                    {% for a in latest_articles_list %}
                        <div class="strana"><a href="{% url 'main:detail' a.id %}" class="titlec c">{{a.art_title}}</a></div>
                    {% endfor %}
                {% else %}
                    Статьи не найдены(((
                {% endif %}

        <div class="footer"></div>
{% endblock content %}
