{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Современная независимая политическая энциклопедия (статьи)</title>
    <link rel="stylesheet" href="{% static 'news/css/body.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="osn">
        <div class="title"><h1 class="titleh1"> <a href="../" class="titlec b">Современная независимая политическая энциклопедия (личности) </a>    </h1> <div class="money"></div></div>
        <div class="head">
            <p class="text">Для поиска по странице нажмите - <b>crtl + f</b> </p>
        </div>
        <div class="body">
            {% block main %}

                {% if latest_articles_list %}
                    {% for a in latest_articles_list %}
                        <div class="strana"><a href="{% url 'main:detail' a.id %}" class="titlec c">{{a.art_title}}</a></div>
                    {% endfor %}
                {% else %}
                    Статьи не найдены(((
                {% endif %}

            {% endblock %}
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>


